<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2017 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <faonni_bitcoin>
                <active>0</active>
                <model>Faonni\Bitcoin\Model\Bitcoin</model>
                <title>Bitcoin</title>
                <order_status>processing</order_status>
                <payment_action>authorize_capture</payment_action>
                <visible_on_cart>1</visible_on_cart>
                <prefix>111.</prefix>
                <host>127.0.0.1</host>
                <port>8332</port>
                <ssl>0</ssl>
                <user backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <pass backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <confirm>6</confirm>
                <expire>7</expire>
                <service>blockchain</service>
                <sort_order>167</sort_order>
                <allowspecific>0</allowspecific>
            </faonni_bitcoin>
        </payment>
    </default>
</config> 
