<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2018 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- import service factory config -->
    <type name="Faonni\Bitcoin\Model\Import\Config">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="blockchain" xsi:type="array">
                    <item name="label" xsi:type="string">Blockchain.info</item>
                    <item name="class" xsi:type="string">Faonni\Bitcoin\Model\Import\Blockchain</item>
                </item>
                <item name="bitcoincharts" xsi:type="array">
                    <item name="label" xsi:type="string">Bitcoincharts.com</item>
                    <item name="class" xsi:type="string">Faonni\Bitcoin\Model\Import\Bitcoincharts</item>
                </item>				
            </argument>
        </arguments>
    </type>
</config>
